.privacyPolicy {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    margin-bottom: 10rem;
    
  }
  
  /* .privacyPolicy h1 {
    font-size: 28px;
    line-height: 3rem;

    text-align: center;
    font-weight: bolder;
  } */
  
  .privacyPolicy h2 {
    /* font-size: 20px; */
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    
    /* margin-top: 30px; */
    /* margin-bottom: 15px; */
  }
  
  .privacyPolicy h3 {
    /* font-size: 16px; */
    line-height: 3rem;
    /* margin-top: 25px; */
    /* margin-bottom: 10px; */
    text-transform: capitalize;
  }
  
  .privacyPolicy p {
    font-size: 12px;
    line-height: 3rem;
    /* margin-bottom: 15px; */
    text-transform: capitalize;

  }
  
  .privacyPolicy strong {
    font-weight: bold;
    text-transform: uppercase;
  }
  

  .list {
    position: relative;
  }
  .list h2 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .list ul {
    position: relative;
  }
  .list ul li {
    position: relative;
    left: 0;
    color: black;
    list-style: none;
    margin: 4px 0;
    border-left: 2px solid #311465;
    transition: 0.5s;
    cursor: pointer;
  }
  .list ul li:hover {
    left: 10px;
  }
  .list ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
  }
  .list ul li:hover span {
    color: #111;
  }
  .list ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c2aaee;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  .list ul li:hover:before {
    transform: scaleX(1);
  }