.item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  margin: 1rem;
  padding: 2rem;

  width: 80%;
  height: 25rem;

  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.content {
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .item {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .item {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .item {
    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .item {
    width: 60%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem;
   
  }
}

@media screen and (min-width: 1201px) {
  .item {
    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
  }
}
