.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 26px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  background-color: #311465;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;

  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  background: rgb(87, 4, 150);
}
